@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-primary: #07889b;
  --color-primary-variant: #66b9bf;
  --color-secondary: #e37222;
  --color-secondary-variant: #eeaa7b;
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-error: #f56565;
  --color-background: #edf2f7;
}
